$bodyDay: #fff4fd;
$bodyNight: #110038;
$textDay: #FFFFFF;
$barDay: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$buttonDay: #F7C9F3;
$buttonDayHover: #E6BBE2;
$barNight: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%); 
$buttonNight: #EE3EFE;
$buttonNightHover: #CE36DB ;
