@import "_paletaDeColores.scss";

%textRegular {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
}

%textBold {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
}

%boton {
    width: 144px;
    height: 36px;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 16px;
}