@import "_paletaDeColores.scss";

.themeDay {

    background-color: $bodyDay;

    .barraGradient {
        background-image: $barDay;
    }

    .banner {
        p {
            color: $textDay;
        }
    }


    .inicio {
        .logoNight {
           display:none;
        }
        .upper-btn {
            .boton {
                background-color: $buttonDay;

                &:hover {
                    background-color: $buttonDayHover;
                    outline: 1px dotted #110038;
                    outline-offset: -5px;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                }
            }
        }
    }

    .dropdownTemas {

        ul {
            background-color: #E6E6E6;

            li {
                background-color: #F0F0F0;

            }
        }
    }

    .buscador {
       
        .search {
            background: #E6E6E6;
            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;


            h2 {
                background-image: $barDay;
                color: $textDay;
                box-shadow: inset -2px 0 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

            }

            .seccionBusqueda {
                .botonBuscar {
                    border: 1px solid #808080;
                    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;

                    img {
                        background-image: url(imagenes/lupa_inactive.svg);
                        &::before {
                            display:none;
                        }
                    }

                    p {
                        color: #B4B4B4;

                    }
                }
                
                .active {
                    background-color: #F7C9F3;
                    cursor: pointer;

                    img {
                        background-image: url(imagenes/lupa.svg);
                        &::before {
                            display:none;
                        }
                    }

                    p {
                        color: #110038;
                    }
                }
            }


        }

        .searchRelacionados {
            background-color: #E6E6E6;
            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
            ul {
                li {
                    background-color: #F0F0F0;
                    border: 1px solid #808080;
                    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                    
                }
            }
        }
    }

    .sugerencias {
        h3 {
            background-color: #FFFAFE;
            border: 1px solid #E6BBE2;
            box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;

        }

        .bloqueSugerencia {
            .sugerido {
                box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

                h2 {
                    background-image: $barDay;
                    box-shadow: inset -2px 0 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

                }

                .verMas {

                    background-color: #4180F6;
                }
            }
        }


    }

    .tendencias {
        h3 {
            background-color: #FFFAFE;
            border: 1px solid #E6BBE2;
            box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
        }

        .gifContainer {

            div {

                &:hover {
                    background: #B4B4B4;
                    border: 2px solid #B4B4B4;
                    box-sizing: border-box;
                }

                img {
                    &:hover~p {
                        display: inherit;
                        background-image: $barDay;
                    }

                }
            }

        }
    }
}