html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.banner p, .inicio .upper-btn .themes .dropdownTemas ul li, .buscador .search .seccionBusqueda .botonBuscar p, .buscador .searchRelacionados ul li, .sugerencias h3, .sugerencias .bloqueSugerencia .sugerido .verMas, .tendencias h3 {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
}

.buscador .search h2, .sugerencias .bloqueSugerencia .sugerido h2, .tendencias .trendy div p {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
}

.inicio .upper-btn .boton {
  width: 144px;
  height: 36px;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: 16px;
}

.container {
  margin: 0 140px 0 100px;
}

.underline {
  text-decoration: underline;
}

.banner {
  width: 100%;
  height: 23px;
  -webkit-box-shadow: 0 1px 0 0;
          box-shadow: 0 1px 0 0;
}

.inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inicio .logo {
  width: 102.6px;
  height: 64px;
  margin: 35px 0 16px 0;
}

.inicio .upper-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inicio .upper-btn .themes {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.inicio .upper-btn .themes .dropdownTemas {
  position: absolute;
  left: 16px;
  top: 38px;
  width: 184px;
  height: 102px;
  z-index: 1;
}

.inicio .upper-btn .themes .dropdownTemas ul {
  padding: 10px;
}

.inicio .upper-btn .themes .dropdownTemas ul li {
  padding: 10px;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.inicio .upper-btn .themes .dropdownTemas ul li:nth-child(2) {
  margin-top: 10px;
}

.inicio .upper-btn .themes .dropdownTemas ul li:hover {
  cursor: pointer;
}

.inicio .upper-btn .dropdown {
  width: 36px;
  margin-left: 0;
}

.inicio .upper-btn p {
  padding: 2px 10px 2px 0;
  margin-left: 16px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.inicio .upper-btn p:hover {
  outline: 1px dotted #110038;
}

.inicio .upper-btn p:active {
  outline: transparent;
}

.desplegable:checked ~ .dropdownTemas {
  display: none;
}

.buscador {
  position: relative;
}

.buscador .search {
  margin-bottom: 64px;
}

.buscador .search h2 {
  padding: 3px;
}

.buscador .search .seccionBusqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buscador .search .seccionBusqueda .searchBar {
  width: 85%;
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  padding: 13px 16px;
  margin: 12px 8px 12px 15px;
}

.buscador .search .seccionBusqueda .botonBuscar {
  width: 12%;
  height: 36px;
  margin-left: 8px;
  margin-right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 30px;
}

.buscador .search .seccionBusqueda .botonBuscar img {
  width: 16px;
  height: 16px;
}

.buscador .searchRelacionados {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #F0F0F0;
  padding: 16px 0 17px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -64px;
  display: none;
}

.buscador .searchRelacionados ul li {
  padding: 6px 0 6px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 83%;
}

.buscador .searchRelacionados ul li:last-child {
  margin-bottom: 0;
}

.buscador .searchRelacionados ul li:hover {
  outline: 1px dotted #110038;
  outline-offset: -2px;
}

.sugerencias h3 {
  width: 100%;
  height: 32px;
  margin-bottom: 30px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sugerencias .bloqueSugerencia {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-bottom: 50px;
}

.sugerencias .bloqueSugerencia .sugerido {
  height: auto;
  display: -ms-grid;
  display: grid;
  position: relative;
}

.sugerencias .bloqueSugerencia .sugerido h2 {
  width: 100%;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sugerencias .bloqueSugerencia .sugerido h2 img {
  width: 16px;
  height: 14px;
}

.sugerencias .bloqueSugerencia .sugerido h2 img:hover {
  outline: transparent;
}

.sugerencias .bloqueSugerencia .sugerido img {
  width: 98.5%;
  height: 303px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.sugerencias .bloqueSugerencia .sugerido img:hover {
  outline: 1px dotted #110038;
  outline-offset: -2px;
}

.sugerencias .bloqueSugerencia .sugerido .verMas {
  color: #FFFFFF;
  background-color: #2E32FB;
  width: 81px;
  height: 34px;
  position: absolute;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
  top: 85%;
  left: 5%;
  cursor: pointer;
}

.sugerencias .bloqueSugerencia .sugerido .verMas:hover {
  outline: 1px dotted #110038;
  outline-offset: -5px;
}

.tendencias h3 {
  width: 100%;
  height: 32px;
  margin-bottom: 30px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tendencias .trendy {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.tendencias .trendy div {
  position: relative;
  width: 100%;
  height: 100%;
}

.tendencias .trendy div img {
  width: 100%;
  height: 100%;
}

.tendencias .trendy div img:hover ~ p {
  color: #FFFFFF;
}

.tendencias .trendy div p {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  display: none;
}

.themeNight {
  background-color: #110038;
}

.themeNight .barraGradient {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.themeNight .banner p {
  color: #FFFFFF;
}

.themeNight .inicio .upper-btn .boton {
  background-color: #EE3EFE;
  color: #FFFFFF;
}

.themeNight .inicio .upper-btn .boton:hover {
  background-color: #CE36DB;
  outline: 1px dotted #110038;
  outline-offset: -5px;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.themeNight .inicio .upper-btn .boton img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.themeNight .inicio .upper-btn p {
  color: #FFFFFF;
}

.themeNight .inicio .upper-btn p:hover {
  outline: 1px dotted #FFFFFF;
}

.themeNight .inicio .upper-btn p:active {
  outline: transparent;
}

.themeNight .dropdownTemas ul {
  background-color: #E6E6E6;
}

.themeNight .dropdownTemas ul li {
  background-color: #F0F0F0;
}

.themeNight .buscador .search {
  background: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.themeNight .buscador .search h2 {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  color: #FFFFFF;
  -webkit-box-shadow: inset -2px 0 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px 0 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.themeNight .buscador .search .seccionBusqueda .botonBuscar {
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.themeNight .buscador .search .seccionBusqueda .botonBuscar p {
  color: #8F8F8F;
}

.themeNight .buscador .searchRelacionados {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.themeNight .buscador .searchRelacionados ul li {
  background-color: #CCCCCC;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.themeNight .sugerencias h3 {
  background-color: #FFFAFE;
  border: 1px solid #2E32FB;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
}

.themeNight .sugerencias .bloqueSugerencia .sugerido {
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.themeNight .sugerencias .bloqueSugerencia .sugerido h2 {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  -webkit-box-shadow: inset -2px 0 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px 0 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.themeNight .sugerencias .bloqueSugerencia .sugerido .verMas {
  background-color: #2E32FB;
}

.themeNight .tendencias h3 {
  background-color: #FFFAFE;
  border: 1px solid #2E32FB;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
}

.themeNight .tendencias .trendy div:hover {
  background: #B4B4B4;
  border: 2px solid #5C5C5C;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.themeNight .tendencias .trendy div img:hover ~ p {
  display: inherit;
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.themeDay {
  background-color: #fff4fd;
}

.themeDay .barraGradient {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.themeDay .banner p {
  color: #FFFFFF;
}

.themeDay .inicio .upper-btn .boton {
  background-color: #F7C9F3;
}

.themeDay .inicio .upper-btn .boton:hover {
  background-color: #E6BBE2;
  outline: 1px dotted #110038;
  outline-offset: -5px;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.themeDay .dropdownTemas ul {
  background-color: #E6E6E6;
}

.themeDay .dropdownTemas ul li {
  background-color: #F0F0F0;
}

.themeDay .buscador .search {
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.themeDay .buscador .search h2 {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  color: #FFFFFF;
  -webkit-box-shadow: inset -2px 0 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px 0 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.themeDay .buscador .search .seccionBusqueda .botonBuscar {
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.themeDay .buscador .search .seccionBusqueda .botonBuscar p {
  color: #B4B4B4;
}

.themeDay .buscador .searchRelacionados {
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.themeDay .buscador .searchRelacionados ul li {
  background-color: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.themeDay .sugerencias h3 {
  background-color: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

.themeDay .sugerencias .bloqueSugerencia .sugerido {
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.themeDay .sugerencias .bloqueSugerencia .sugerido h2 {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  -webkit-box-shadow: inset -2px 0 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px 0 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.themeDay .sugerencias .bloqueSugerencia .sugerido .verMas {
  background-color: #4180F6;
}

.themeDay .tendencias h3 {
  background-color: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

.themeDay .tendencias .trendy div:hover {
  background: #B4B4B4;
  border: 2px solid #B4B4B4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.themeDay .tendencias .trendy div img:hover ~ p {
  display: inherit;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}
/*# sourceMappingURL=style.css.map */