@import "_paletaDeColores.scss";

.themeNight {


    background-color: $bodyNight;

    .barraGradient {
        background-image: $barNight;
    }

    .banner {
        p {
            color: $textDay;
        }
    }


    .inicio {
        .logo {
            display: none;
        }

        .upper-btn {
            .boton {
                background-color: $buttonNight;
                color: $textDay;

                &:hover {
                    background-color: $buttonNightHover;
                    outline: 1px dotted #110038;
                    outline-offset: -5px;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                }

                img {
                    filter: invert(100%);
                }

            }

            .misGuifos {
                color: $textDay;

                &:hover {
                    outline: 1px dotted $textDay;

                }

                &:active {
                    outline: transparent;
                }

                &:visited {
                    color: $textDay;
                }
            }
        }
    }

    .dropdownTemas {

        ul {
            background-color: #E6E6E6;

            li {
                background-color: #F0F0F0;

            }
        }
    }


    .buscador {
        .search {
            background: $windowColorNight;
            box-shadow: inset -2px -2px 0 0 $windowColorNight, inset 2px 2px 0 0 #FFFFFF;


            h2 {
                background-image: $barNight;
                color: $textDay;
                box-shadow: inset -2px 0 0 0 $windowColorNight, inset 2px 2px 0 0 #FFFFFF;

            }

            .seccionBusqueda {
                .botonBuscar {
                    border: 1px solid #808080;
                    box-shadow: inset -1px -1px 0 0 $windowColorNight, inset 1px 1px 0 0 #FFFFFF;

                    img {
                        background-image: url(imagenes/combine_shape.svg);

                        &::before {
                            display: none;
                        }
                    }

                    p {
                        color: #8F8F8F;

                    }
                }

                .active {
                    background-color: #CE36DB;
                    border: 1px solid #110038;
                    cursor: pointer;

                    img {
                        background-image: url(imagenes/lupa_light.svg);

                        &::before {
                            display: none;
                        }
                    }

                    p {
                        color: $textDay;
                    }
                }
            }



        }

        .blueDivContainer {

            div {
                background-color: #2E32FB;
            }
        }

        .searchRelacionados {
            background-color: $windowColorNight;
            box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;

            ul {
                li {
                    background-color: #CCCCCC;
                    border: 1px solid #808080;
                    box-shadow: inset -1px -1px 0 0 $windowColorNight, inset 1px 1px 0 0 #FFFFFF;

                }
            }
        }
    }

    .sugerencias {
        h3 {

            background-color: #FFFAFE;
            border: 1px solid #2E32FB;
            box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;

        }

        .bloqueSugerencia {
            .sugerido {
                box-shadow: inset -1px -1px 0 0 $windowColorNight, inset 1px 1px 0 0 #FFFFFF;

                h2 {
                    background-image: $barNight;
                    box-shadow: inset -2px 0 0 0 $windowColorNight, inset 2px 2px 0 0 #FFFFFF;

                }

                .verMas {

                    background-color: #2E32FB;
                }

            }
        }


    }

    .tendencias {
        h3 {
            background-color: #FFFAFE;
            border: 1px solid #2E32FB;
            box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
        }

        .gifContainer {

            div {
                &:hover {
                    background: $windowColorNight;
                    border: 2px solid #5C5C5C;
                    box-sizing: border-box;
                }

                img {
                    &:hover~p {
                        display: inherit;
                        background-image: $barNight;
                    }

                }
            }

        }
    }

    .instructions {

        h2 {
            background-image: $barNight;

        }

        .content {
            background-color: $windowColorNight;

            .botones {

                .cancel {
                    background-color: #FFF4FD;
                }

                .start {
                    color: #FFFFFF;
                    background-color: $buttonNight;

                    &:hover {
                        background-color: $buttonNightHover;

                    }
                }
            }

        }
    }

    .check {
        .record {
            background-color: $windowColorNight;


            .grabar {

                .button {
                    background-color: $buttonNight;
                    color: #FFFFFF;
                    

                    &:hover {
                        background-color: $buttonNightHover;
                    }

                    img {
                        filter: invert(100%);
                    }
                }
            }
            .lastInstrucctions {
               
                .upload {
                    background-color: $buttonNight;
                    &:hover {
                        background-color: $buttonNightHover;
                    }
                }
            }
            .done {
                background-color: $buttonNight;

                &:hover {
                    background-color: $buttonNightHover;
                }

            }


        }
    }

}